@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{    
    var formHeader = Model?.Content.Value<string>("formHeader") ?? "";
}

<section id="question-form">

    <form>
        <h4>@header</h4>

        <div class="content">
            <div class="form-input-group">
                <label class="form-label" for="name"></label>
                <input id="name" name="name" type="text" placeholder="Name" class="form-input">
                <!-- <span class="form-input-error">You must enter your name</span> -->
            </div>
            <div class="form-input-group">
                <label class="form-label" for="email"></label>
                <input id="email" name="email" type="email" placeholder="Email" class="form-input">
                <!-- <span class="form-input-error">You must enter an valid e-mail address</span> -->
            </div>
            <div class="form-input-group">
                <label class="form-label" for="message"></label>
                <textarea id="message" name="message" placeholder="Message" class="form-textarea"></textarea>
                <!-- <span class="form-input-error">You must enter a message</span> -->
            </div> 
        </div>
        <button type="submit" class="form-button btn-primary">Submit</button>         

    </form>

</section>