@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var quotationText = Model?.Content.Value<string>("quotationText");
}

@if (!string.IsNullOrEmpty(quotationText)) {
<p class="quotation">@quotationText</p>
}