@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
@{
    var selection = Umbraco.Content(Guid.Parse("93991787-0284-4c33-9583-5e12f51750b8"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible())
    .Take(4);
}

<div class="recent-projects">

    @if (selection != null)
	{
		@foreach (var item in selection)
		{
			var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";
			var pageTitle = item?.Value<string>("pageTitle") ?? "";

            <a href="@item.Url()">
                <img src="@image" alt="@pageTitle">
                <div class="project-content">
                    <div class="project-text">
                        <h5>@pageTitle</h5>
                        <p>Financial Services</p>
                    </div>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </a>
		}					
	}
    
</div>

