header {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        .logotype {
            @include center;
        }

        #navbar {
            display: none;

            @include tablet {
                display: inline-block;
            }

            .nav-menu {

                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: var(--color-primary);
                    padding: 20px;

                    &:hover {
                        color: var(--color-secondary);
                    }

                    &.active {
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .search {

            i {
                @include center;
                margin-left: 130px;
            }

            @include tablet {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .btn-circle {
            display: inline-block;

            @include tablet {
                display: none;
            }
        }
    }
}
