header {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        .logotype {
            @include center;
        }

        #navbar {
            display: none;

            @include desktop {
                display: inline-block;
            }

            .nav-menu {

                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: var(--color-primary);
                    padding: 20px;

                    &:hover {
                        color: var(--color-secondary);
                    }

                    &.active {
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .search {
            justify-content: flex-end;
            display: none;

            i {
                @include center;
                //margin-left: 130px;
            }

            @include desktop {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }




        .dropdown {
            position: relative;

            @include desktop {
                display: none;
            }

            .dropdown-toggle {
                background: none;
                border: none;
                cursor: pointer; 

                i {
                    font-size: 20px;
                }
            }

            .dropdown-menu {
                display: none;
                position: absolute;
                background-color: var(--color-light);
                border: 1px solid #ccc;
                margin-top: 5px;
                z-index: 10;
            }

            .dropdown-menu.show {
                display: block;
            }

            .nav-link {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: black;

                &:hover {
                    background-color: #f0f0f0;
                }
            }
        }
    }
}
