header {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;

        .logotype {
            @include center;
        }

        #navbar {
            display: none;

            @include desktop {
                display: inline-block;
            }

            .nav-menu {

                a {
                    font-weight: 600;
                    text-decoration: none;
                    color: var(--color-primary);
                    padding: 20px;

                    &:hover {
                        color: var(--color-secondary);
                    }

                    &.active {
                        color: var(--color-secondary);
                    }
                }
            }
        }

        .search {
            justify-content: flex-end;
            display: none;

            i {
                @include center;
            }

            @include desktop {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .dropdown {
            position: relative;

            @include desktop {
                display: none;
            }

            .dropdown-toggle {
                background: none;
                border: none;
                cursor: pointer;

                i {
                    font-size: 20px;
                }
            }

            .dropdown-menu {
                display: none;
                position: fixed;
                top: 160px;
                left: 0;
                width: 100vw;
                background-color: var(--color-primary);
                border: 1px solid #ccc;
                margin-top: 5px;
                z-index: 10;

                @include tablet {
                    top: 135px;
                }

                .dropdown-search {
                    display: flex;
                    flex-direction: row;
                    padding-left: 20px;
                    padding-top: 10px;
                    padding-bottom: 15px;
                    gap: 1em;
                    color: var(--color-light);
                }
            }

            .dropdown-menu.show {
                display: block;
            }

            .nav-link {
                display: block;
                padding: 10px;
                text-decoration: none;
                color: black;
                color: var(--color-light);
                padding-left: 20px;

                &:hover {
                    color: var(--color-primary);
                    background-color: var(--color-secondary);
                }
            }
        }
    }
}
