#hero-slider {
    position: relative;
    overflow: hidden;

    .container {
        padding-top: 60px;
        position: relative;
        z-index: 1;
        padding-bottom: 40px;

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            z-index: -1;
            overflow: hidden;
            max-width: none;
            height: 100%;
            object-fit: cover;

            @include tablet {
                left: 50%;
                transform: translateX(-50%);
                width: 100vw;
            }
        }

        .umb-block-grid__layout-container {
            position: relative;
            z-index: 1;

            .btn {
                margin-top: 30px;
            }
        }
    }
}
