#partners {

    .container {
        padding-top: 80px;
        padding-bottom: 80px;

        .image-slider {

            .slides {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                img {
                    padding: 20px;
                }
            }
        }
    }
}
