@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProjectItemTemplate>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;

    var created = Model?.CreateDate.ToString("MMMM dd, yyyy");
    var tags = Model?.Value<IEnumerable<string>>("projectTags") ?? [];
}	

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="project-details">
    <div class="container">

        <div class="project-details-content">

            <div class="date">
				<i class="fa-regular fa-calendar-days text-note"></i>
                <p class="date-text">@created</p>
            </div>
            
            @Model.Value("pageContent")

            @if (tags != null) 
            {
                <div class="project-tags">
                    <h5>Tags:</h5>

                    @foreach (var tag in tags)
                    {
                        <div class="project-tag">
                            <p>@tag</p>
                        </div>                      
                    }
                </div>
            }

        </div>

        <div class="vertical-separator"></div>

        <aside>
            @await Html.GetBlockGridHtmlAsync(Model.AsideLayout)
        </aside>
        
    </div>
</section>

@await Html.GetBlockGridHtmlAsync(Model.BottomLayout)