@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ProjectItemTemplate>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";
    ViewBag.Title = Model?.Value("pageTitle") ?? null;
}	

@if (!string.IsNullOrEmpty(ViewBag.Title))
{
    @await Html.PartialAsync("partials/static/breadcrumb.cshtml")
}

<section id="project-details">
    <div class="container">

        <aside>
            @await Html.GetBlockGridHtmlAsync(Model.AsideLayout)
        </aside>

        <div class="project-details-content">
            @Model.Value("pageContent")
        </div>
        
    </div>
</section>

@await Html.GetBlockGridHtmlAsync(Model.BottomLayout)