#our-projects {

    .container {
        display: flex;
        flex-direction: column;
        padding-top: 60px;

        @include desktop {
            flex-direction: row;
            justify-content: space-between;
        }

        .projects-content {
            max-width: 767px;
            flex: 1;

            .project-item {
                display: flex;
                flex-direction: column;

                @include tablet {
                    flex-direction: row;
                }

                img {
                    max-width: 100%;
                    padding-bottom: 30px;
                    padding-right: 30px;
                }

                .project-text {

                    .date {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-bottom: 20px;

                        i {
                            color: var(--color-primary-light);
                        }

                        .date-text {
                            color: var(--color-primary-light);
                            padding-left: 10px;
                        }
                    }

                    a {
                        font-weight: 600;

                        i {
                            color: var(--color-secondary);
                            padding-left: 5px;
                        }
                    }
                }
            }
        }

        aside {
            max-width: 400px;
            flex: 1;

            img {
                max-width: 100%;
                padding-bottom: 30px;
            }
        }
    }
}
