.pagination {

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        ul {
            display: flex;
            flex-direction: row;
            padding: 20px;

            li {
                list-style-type: none;

                a {
                    margin: 20px;
                }
            }
        }
    }
}
